* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: rgba(214, 214, 214, 0.858);
  font-family: 'Lato', sans-serif;
}

main {
  margin: 0 auto;
  width: 100%;
}

.todo-section {
  margin: 50px auto;
  width: 90%;
  background-color: whitesmoke;
  max-height: calc(100vh - 50px);
  box-shadow: 0 0 10px 4px rgba(85, 85, 85, 0.2);
}

.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5%;
  border-bottom: 0.3px solid rgba(119, 119, 119, 0.3);
}

form {
  display: flex;
  justify-content: space-between;
  padding: 2.5%;
  border-bottom: 0.3px solid rgba(119, 119, 119, 0.3);
}

form input {
  width: 99%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.3rem;
}

form input::placeholder {
  font-style: italic;
  font-weight: 100;
  font-size: 1.2rem;
}

form button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.todo {
  display: flex;
  gap: 10px;
  padding: 2.5%;
  align-items: center;
  border-bottom: 0.3px solid rgba(119, 119, 119, 0.3);
}

.todo.edit {
  background-color: antiquewhite;
}

.checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.edit-form {
  display: none;
  width: 93%;
  background-color: transparent;
  border: none;
}

.edit-todo-input {
  display: none;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.3rem;
}

.edit-form-btn {
  display: none;
}

.edit-form.edit {
  display: block;
  padding: 0;
}

.edit-todo-input.edit {
  display: block;
}

.todo-label {
  width: 93%;
  font-size: 1.2rem;
}

.todo-label.edit {
  display: none;
}

.todo-label.completed {
  text-decoration: line-through;
  color: rgb(124, 124, 124);
}

.fa-trash-alt {
  display: none;
  padding-left: 20px;
  color: rgb(60, 60, 60);
  cursor: pointer;
}

.fa-trash-alt:hover {
  color: black;
}

.clear-complete-container {
  padding: 3% 2.5%;
  text-align: center;
  font-size: 1.2rem;
  background-color: rgb(223, 223, 223);
}

.clear-completed {
  background-color: rgb(223, 223, 223);
  border: none;
  outline: none;
  font-size: 1.3rem;
  font-family: 'Lato', sans-serif;
}

.clear-completed:hover {
  text-decoration: underline;
}

.fa-ellipsis-v.completed {
  display: none;
}

.fa-trash-alt.completed {
  display: block;
}

@media screen and (max-width: 300px) {
  * {
    font-size: 0.9rem;
  }

  .clear-completed {
    font-size: 1rem;
  }

  form input {
    font-size: 1rem;
  }

  form input::placeholder {
    font-weight: 50;
    font-size: 1rem;
  }
}

@media screen and (min-width: 840px) {
  .todo-section {
    margin: 50px auto;
    width: 60%;
  }
}
